---
title: "Verification of phased Dicke states"
collection: publications
category: manuscripts
permalink: /publication/2021-02-01-Verification
excerpt: 'Dicke states are typical examples of quantum states with genuine multipartite entanglement. They are valuable resources in many quantum information processing tasks, including multiparty quantum communication and quantum metrology. Phased Dicke states are a generalization of Dicke states and include antisymmetric basis states as a special example. These states are useful in atomic and molecular physics besides quantum information processing. Here we propose practical and efficient protocols based on adaptive local projective measurements for verifying all phased Dicke states, including W states and qudit Dicke states. To verify any n-partite phased Dicke state within infidelity  and significance level δ, the number of tests required is only O(n−1 ln δ −1 ), which is linear in n and is exponentially more efficient than traditional tomographic approaches. In the case of W states, the number of tests can be further reduced to O( √ n −1 ln δ −1 ). Moreover, we construct an optimal protocol for any antisymmetric basis state; the number of tests required decreases (rather than increases) monotonically with n. This is the only optimal protocol known for multipartite nonstabilizer states.'
date: 2021-02-01
weight: 43
venue: 'Physical Review A'
biburl: 'https://qCvxOpt.github.io/files/103.022601.bib'
paperurl: 'https://qCvxOpt.github.io/files/103.022601.pdf'
citation: 'Zihao Li, Yun-Guang Han, Hao-Feng Sun, Jiangwei Shang, Huangjun Zhu (2021). "Verification of phased Dicke states." <i>Physical Review A</i>. 103(2): 022601.'
---

The contents above will be part of a list of publications, if the user clicks the link for the publication than the contents of section will be rendered as a full page, allowing you to provide more information about the paper for the reader. When publications are displayed as a single page, the contents of the above "citation" field will automatically be included below this section in a smaller font.