---
title: "Verification of Entangled States Under Noisy Measurements"
collection: publications
category: manuscripts
permalink: /publication/2025-02-17-Verification
excerpt: 'Entanglement plays an indispensable role in numerous quantum information and quantum computation tasks, underscoring the need for efficiently verifying entangled states. In recent years, quantum state verification has received increasing attention, yet the challenge of addressing noise effects in implementing this approach remains unsolved. In this work, a systematic assessment of the performance of quantum state verification protocols is provided in the presence of measurement noise. Based on the analysis, a necessary and sufficient condition is provided to uniquely identify the target state under noisy measurements. Moreover, this work proposes a symmetric hypothesis testing verification algorithm with noisy measurements. Then, relying on W states, an SDP program is demonstrated to calculate the infidelity threshold for arbitrary measurement noise. Subsequently, using a noisy nonadaptive verification strategy of GHZ and stabilizer states, the noise effects on the verification efficiency are analytically illustrated. From both analytical and numerical perspectives, this work demonstrates that the noisy verification protocol exhibits a negative quadratic relationship between the sample complexity and the infidelity. Our method can be easily applied to real experimental settings, thereby demonstrating its promising prospects.'
date: 2025-02-17
weight: 1
venue: 'Advanced Quantum Technologies'
biburl: 'https://qCvxOpt.github.io/files/8.2400575.bib'
paperurl: 'https://qCvxOpt.github.io/files/8.2400575.pdf'
citation: 'Lan Zhang, Yinfei Li, Ye-Chao Liu, Jiangwei Shang (2025). "Verification of Entangled States Under Noisy Measurements." <i>Advanced Quantum Technologies</i>. 8(9): 2400575.'
---

The contents above will be part of a list of publications, if the user clicks the link for the publication than the contents of section will be rendered as a full page, allowing you to provide more information about the paper for the reader. When publications are displayed as a single page, the contents of the above "citation" field will automatically be included below this section in a smaller font.