---
layout: archive
title: "Publications (by date)"
permalink: /publications-by-date/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
{% include publications-view-toggle.html %}

<!-- Pure date sort, no weight filter -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% assign sorted = site.publications | sort: 'date' | reverse %}
    {% for post in sorted %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% assign sorted = site.publications | sort: 'date' | reverse %}
  {% for post in sorted %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
